html,
body {
  margin: 0;
}

body {
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}

:root {
  --primary-salmon: #ffc0a8;
  --dark-salmon: #f57a7a;
  --light-salmon: #fbcaca;

  --dark-sage: #bbcf95;
  --light-sage: #bbcf95;

  --dark-grey: #666666;
  --medium-grey: #979797;
  --light-grey: #d7d7d7;
}
